.slot {
    height: 3em;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    background-color: rgb(252, 252, 252);
    color: black;
    
    box-shadow: 1pt 1pt 1pt 1pt black;
}